.page[b-x4x6nkc4tw] {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main[b-x4x6nkc4tw] {
  flex: 1;
}

.sidebar[b-x4x6nkc4tw] {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-x4x6nkc4tw] {
  background-color: #1b1b1b;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-start;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row a:first-child[b-x4x6nkc4tw] {
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo[b-x4x6nkc4tw] {
  width: 70px;
}

.nav-links[b-x4x6nkc4tw] {
  padding-top: 15px;
}

.nav-links li[b-x4x6nkc4tw] {
  display: inline;
  white-space: nowrap;
  margin-left: 1.5rem;
}

.container-type-one[b-x4x6nkc4tw] {
  background-color: rgb(24, 24, 24);
  width: 95%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 250px;
}

@media (max-width: 920px) {
  .top-row[b-x4x6nkc4tw] {
    height: auto;
    display: grid;
    margin-left: auto;
    justify-content: center;
  }

  .top-row img[b-x4x6nkc4tw] {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }

  .top-row ul[b-x4x6nkc4tw] {
    display: flex;
    width: 250px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  .nav-links li[b-x4x6nkc4tw] {
    margin-left: auto;
    margin-right: auto;
    border: orangered 1px solid;
    padding: 10px;
    border-radius: 10px;
  }
}

@media (min-width: 641px) {
  .page[b-x4x6nkc4tw] {
    flex-direction: row;
  }

  .sidebar[b-x4x6nkc4tw] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .main > div[b-x4x6nkc4tw] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
