@page "/"
@namespace MarathonTutorialWebsite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marathon Tutorial Website</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="MarathonTutorialWebsite.styles.css" rel="stylesheet" />
</head>

<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>


    <!-- TODO - This code should be in TutorialVideo.razor but if cant be because of js fuckyness. Check back in the future if there is a solution to this and do it. -->
    <script src="https://www.youtube.com/player_api"></script>
    <script src="https://www.cognitoforms.com/f/iframe.js"></script>
    <script>Cognito.setCss('.cognito {float: left;}');</script>

    <!-- TODO - This code should be in TutorialVideo.razor but if cant be because of js fuckyness. Check back in the future if there is a solution to this and do it. -->
    <script>
        window.thisAppFunctions =
        {
            EnableTestFormButton: function () {

                var video = document.getElementById("tvp-video");
                var button = document.getElementById("tvp-test-btn");

                video.addEventListener("onStateChange", function (state) {
                    if (state === 0) {
                        alert("enabling video");
                        button.disabled = false;
                    }
                });
            },
            SetupTutorialYTVideo: function (video_id, button_id) {
                var player;
                player = new YT.Player(video_id, {
                    events: {
                        'onStateChange': function (e) {
                            var button = document.getElementById(button_id);
                            if (e.data === 0) {
                                button.disabled = false;
                            }
                        }
                    }
                });
            }
        }
    </script>
</body>

</html>
