@page "/about"
@inject IStringLocalizer<App> localizer
@inject NavigationManager navigationManager

<style>
    #about-container {
        margin-left: auto;
        margin-right: auto;

    }

    #about-p1 {
        color: ghostwhite;
        width: 60%;
    }

    #about-author {
        color: ghostwhite;
    }

    #about-back-btn {
        background-color: transparent;
        border: 1px solid orangered;
        color: orangered;
        margin-bottom: 25px;
    }

    #about-back-btn:hover {
        background-color: orangered;
        color: ghostwhite;
    }
</style>

<div id="about-container">
    <StandardHeaderOne Underlined="true">@localizer["About_About"]</StandardHeaderOne>
    <p id="about-p1">@localizer["About_Preamble"]</p>
    <p id="about-author">@localizer["About_Created_By"]</p>
    <button id="about-back-btn" class="btn btn-primary" @onclick="GoBackToHome">@localizer["About_Go_Back"]</button>
</div>

@code {
    private void GoBackToHome()
    {
        navigationManager.NavigateTo("/");
    }
}
