@page "/about"
@inject IStringLocalizer<App> localizer
@inject NavigationManager navigationManager

<style>
    #about-container {
        margin-left: auto;
        margin-right: auto;

    }

    #about-p1 {
        color: ghostwhite;
        width: 60%;
    }

    #about-author {
        color: ghostwhite;
    }

    #about-back-btn {
        background-color: transparent;
        border: 1px solid orangered;
        color: orangered;
        margin-bottom: 25px;
    }

    #about-back-btn:hover {
        background-color: orangered;
        color: ghostwhite;
    }
</style>

<div id="about-container">
    <StandardHeaderOne Underlined="true">About</StandardHeaderOne>
    <p id="about-p1">Marathon Electrical LLC. prides itself in its initiative to train our employee's to face the,
        sometimes adverse,
        conditions present in our field of work. This website is a step towards that initiative. It provides training
        videos for employees to watch, followed by a short test. The test will be submitted to the employees supervisor,
        which will confirm the employee has seen the appropriate training video. This allows us to be accountable for
        what our employees do and don't know, and what training they have recieved.</p>
    <p id="about-author">Website Created By: Justin Morrow</p>
    <button id="about-back-btn" class="btn btn-primary" @onclick="GoBackToHome">Go Back</button>
</div>

@code {
    private void GoBackToHome()
    {
        navigationManager.NavigateTo("/");
    }
}
