@* @page "/counter"

    @using MarathonTutorialWebsite.Data
    @inject CounterData CData;

    <h1>Counter</h1>

    <p>Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

    @code {
    private int currentCount { get; set; }

    private int incrementAmount { get; set; } = 1;

    protected override async Task OnInitializedAsync()
    {
    currentCount = CData.StoredCount;
    }

    private void IncrementCount()
    {
    currentCount = CData.StoredCount;
    currentCount += incrementAmount;
    CData.StoredCount = currentCount;
    }
    }
*@