@page "/youtube_video_list"

@using MarathonTutorialWebsite.Data
@using System.Text.Encodings.Web
@using System.Globalization
@inject YoutubeVideoService youtubeVideoService
@inject NavigationManager navMan
@inject IStringLocalizer<App> localizer

<div id="ytvl-search-container">
    <i id="ytvl-icon-search" class="material-icons icon-white">search</i>
    <input id="ytvl-search-box" @bind-value="SearchText" @bind-value:event="oninput" placeholder="Search by title" />
</div>

@if (videos == null)
{
    @if (!filteredVideos.Any())
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <p><em>No videos match that name</em></p>
    }
}
else
{
    <div id="ytvl-container">
        <table class="table">
            <thead>
                <tr>
                    <th>@localizer["TVL_Title"]</th>
                    <th>@localizer["TVL_Description"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in filteredVideos)
                {
                    <tr>
                        <td>
                            <a class="tvl-video-entry" href=""
                        @onclick="() => GoToVideoPage(v.Title, v.EnglishVideoUrl, v.SpanishVideoUrl)"
                        @onclick:preventDefault>
                                @v.Title
                            </a>
                        </td>
                        <td>@v.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private YoutubeVideoEntry[] videos;
    private List<YoutubeVideoEntry> filteredVideos
    {
        get => string.IsNullOrWhiteSpace(SearchText) ? videos.ToList() :
        videos.Where(v => v.Title.ToLower().Contains(SearchText.ToLower())).ToList();
    }
    private string SearchText { get; set; }

    protected override void OnInitialized()
    {
        videos = youtubeVideoService.GetEntries();
    }

    private void GoToVideoPage(string title, string english_link, string spanish_link)
    {
        var selected_language = CultureInfo.CurrentCulture.Name;
        var url = "/tutorial_video/" + title + "/";
        if (selected_language == "en-US")
        {
            url += UrlEncoder.Create().Encode(english_link);
        }
        else if (selected_language == "es-ES")
        {
            url += UrlEncoder.Create().Encode(spanish_link);
        }

        navMan.NavigateTo(url);
    }
}
