th {
  color: ghostwhite;
}

tr {
  color: ghostwhite;
}

#ytvl-container {
  padding-bottom: 20px !important;
}

.tvl-video-entry {
  color: #eb1e23;
}

.tvl-video-entry:hover {
  color: #e0e721;
  text-decoration: none;
}

#ytvl-search-container {
  margin-bottom: 20px;
}

#ytvl-search-box {
  background-color: rgb(87, 87, 87);
  width: auto;
  border-radius: 5px;
  border: 1px solid #fff;
  color: ghostwhite;
  font-size: 12pt;
  vertical-align: middle;
}

#ytvl-search-box:focus {
  outline: #eb1e23;
}

@media (max-width: 920px) {
  #ytvl-search-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

#ytvl-icon-search {
  color: ghostwhite;
  vertical-align: middle;
  margin-right: 7px;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid ghostwhite;
}
