@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
        </div> *@

    <div class="main">
        <div class="top-row px-4">
            <img src="/assets/logo.png" alt="logo" class="logo" />
            <ul class="nav-links">
                <li><a href="https://docs.microsoft.com/aspnet/" target="_blank">Training Videos</a></li>
                <li><a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a></li>
            </ul>
        </div>

        <div class="container-type-one">
            @Body
        </div>
    </div>
</div>
