@inherits LayoutComponentBase
@inject IStringLocalizer<App> localizer

<style>
    .nav-links a {
        color: orangered;
    }

    .nav-links a:hover {
        color: maroon;
        text-decoration: none;
    }
</style>

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <img src="/assets/logo.png" alt="logo" class="logo" />
            <ul class="nav-links">
                <li><a href="https://docs.microsoft.com/aspnet/" target="_blank">@localizer["Training Videos"]</a></li>
                <li><a href="https://docs.microsoft.com/aspnet/" target="_blank">@localizer["About"]</a></li>
            </ul>
            <ChooseLanguage />
        </div>

        <div class="container-type-one">
            @Body
        </div>
    </div>
</div>
