@inherits LayoutComponentBase
@inject IStringLocalizer<App> localizer
@inject NavigationManager navigationManager

<div class="page">
    <div class="main">
        <div class="top-row px-4 mcolor-bg-black-75">

            <img src="/assets/logo.png" alt="logo" class="logo" />
            <ul class="nav-links">
                <li><a class="mcolor-txt-red" href="https://docs.microsoft.com/aspnet/" @onclick="@GoToTrainingVids"
                        @onclick:preventDefault>@localizer["Training Videos"]</a></li>
                <li><a class="mcolor-txt-red" href="https://docs.microsoft.com/aspnet/" @onclick="@GoToAbout"
                        @onclick:preventDefault>@localizer["About"]</a></li>
            </ul>
            <ChooseLanguage />
        </div>

        <div class="container-type-one mcolor-bg-black-75">
            @Body
        </div>
    </div>
</div>

@code {
    private void GoToTrainingVids()
    {
        navigationManager.NavigateTo("/");
    }

    private void GoToAbout()
    {
        navigationManager.NavigateTo("/about");
    }
}
