@import '';

/* _content/MarathonTutorialWebsite/Pages/Index.razor.rz.scp.css */
/* _content/MarathonTutorialWebsite/Pages/YoutubeVideoList.razor.rz.scp.css */
th[b-c9tz53hqp8] {
  color: ghostwhite;
}

tr[b-c9tz53hqp8] {
  color: ghostwhite;
}

#ytvl-container[b-c9tz53hqp8] {
  padding-bottom: 20px !important;
}

.tvl-video-entry[b-c9tz53hqp8] {
  color: #eb1e23;
}

.tvl-video-entry:hover[b-c9tz53hqp8] {
  color: #e0e721;
  text-decoration: none;
}

#ytvl-search-container[b-c9tz53hqp8] {
  margin-bottom: 20px;
}

#ytvl-search-box[b-c9tz53hqp8] {
  background-color: rgb(87, 87, 87);
  width: auto;
  border-radius: 5px;
  border: 1px solid #fff;
  color: ghostwhite;
  font-size: 12pt;
  vertical-align: middle;
}

#ytvl-search-box:focus[b-c9tz53hqp8] {
  outline: #eb1e23;
}

@media (max-width: 920px) {
  #ytvl-search-container[b-c9tz53hqp8] {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

#ytvl-icon-search[b-c9tz53hqp8] {
  color: ghostwhite;
  vertical-align: middle;
  margin-right: 7px;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid ghostwhite;
}
/* _content/MarathonTutorialWebsite/Shared/MainLayout.razor.rz.scp.css */
.page[b-x4x6nkc4tw] {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main[b-x4x6nkc4tw] {
  flex: 1;
}

.sidebar[b-x4x6nkc4tw] {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-x4x6nkc4tw] {
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-start;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row a:first-child[b-x4x6nkc4tw] {
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo[b-x4x6nkc4tw] {
  width: 125px;
}

.nav-links[b-x4x6nkc4tw] {
  padding-top: 15px;
}

.nav-links li[b-x4x6nkc4tw] {
  display: inline;
  white-space: nowrap;
}

.nav-links > li:first-of-type[b-x4x6nkc4tw] {
  margin-right: 1.5rem;
}

.container-type-one[b-x4x6nkc4tw] {
  width: 95%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 250px;
}

@media (max-width: 920px) {
  .top-row[b-x4x6nkc4tw] {
    height: auto;
    display: grid;
    margin-left: auto;
    justify-content: center;
  }

  .top-row img[b-x4x6nkc4tw] {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .top-row ul[b-x4x6nkc4tw] {
    display: flex;
    width: 250px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  .nav-links li[b-x4x6nkc4tw] {
    margin-left: auto;
    margin-right: auto;
    border: #eb1e23 1px solid;
    padding: 10px;
    border-radius: 10px;
  }
}

.nav-links a:hover[b-x4x6nkc4tw] {
  color: ghostwhite;
  text-decoration: none;
}

@media (min-width: 641px) {
  .page[b-x4x6nkc4tw] {
    flex-direction: row;
  }

  .sidebar[b-x4x6nkc4tw] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .main > div[b-x4x6nkc4tw] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
/* _content/MarathonTutorialWebsite/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-6pja8xs7jg] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-6pja8xs7jg] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-6pja8xs7jg] {
    font-size: 1.1rem;
}

.oi[b-6pja8xs7jg] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-6pja8xs7jg] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-6pja8xs7jg] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-6pja8xs7jg] {
        padding-bottom: 1rem;
    }

    .nav-item[b-6pja8xs7jg]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-6pja8xs7jg]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-6pja8xs7jg]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-6pja8xs7jg] {
        display: none;
    }

    .collapse[b-6pja8xs7jg] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
